@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



.sidebar {
  font-family: 'Roboto', sans-serif;
  background-color: #2e2e2e; 
  height: 100vh;
}

.subMenu {
  background-color: #2e2e2e;
  color: #3b8dff;
  font-size: 1.2rem;
}

.menuItem {
  background-color: #474747;
  color: #3dabf9;
  padding: 10px;
}

.menuItem:hover {
  background-color: #0053b8; 

}

.menuItem:active {
  background-color: #2e2e2e;; 
}
